* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.divlogo {
  border-radius: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  background-image: url("img/Post\ instagram\ compre\ brownie\ doces\ moderno\ em\ bege\ e\ vermelho\ \(1\).png");
}

.logo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #a0522d;
}

.imgtitulo {
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
}

.imgtopo {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-right-radius: 20px;
}

h1 {
  font-family: "Parisienne", cursive;
  font-size: 6vw;
  color: #5e2c04;
  margin-top: 20px;
}

h5 {
  font-family: "Great Vibes", cursive;
  font-size: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(
    120deg,
    #ffffff 0%,
    rgb(196, 57, 214) 20%,
    #ffffff 40%,
    black 60%,
    #ffffff 80%,
    black 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: brilho-movel 20s linear infinite;
}

@keyframes brilho-movel {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

p {
  font-size: 2vw;
  margin: 20px auto;
  color: rgb(148, 145, 145);
  text-align: center;
}

.cards1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: rgb(230, 236, 241);
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(243, 108, 248, 0.966) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  max-width: 100%;
  text-align: center;
   overflow-wrap: break-word;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 90%;
  height: 220px;
  margin-top: 11px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
button{

  color: aliceblue;
  background-color: rgb(236, 147, 214);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 6px;
  width: auto;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover {
  transform: scale(1.00);
  box-shadow: 0 8px 20px rgb(7, 235, 216);
  background-color: aqua;
  color: black;
}

.card h3 {
  color: #5e2c04;
  font-family: "Great Vibes", cursive;
  font-style: italic;
  font-size: 2vw;
  margin-top: 10px;
}

.footer {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(1, 46, 46);
  text-align: center;
  padding: 1px;
  font-size: 3vw;
  margin: 5px;
  
}
.direitos p {
    font-size: 3vw;
  color: rgb(155, 173, 173);
  text-decoration: none;
 
}
.midia img{

    width: 4vw;
    height: 4vh;
    margin-right: -15vw;
    
}
.midia{
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold;
    text-decoration: none;
    justify-content: space-around;
  
    
}

.midia a{
    color: rgb(155, 173, 173);
    text-decoration: none;
}
